<h1> <%= @contract.client %> </h1>
<%= @contract.equipment %>
<%= @contract.rental_period %>
<%= @contract.amount %>
<%= @contract.discount %>
<%= @contract.total_amount %>
<%= @contract.delivery_address %>
<%= @contract.contact %>
<%= @contract.payment_method %>
<%= @contract.start_date %>
<%= @contract.created_at.to_s %>
<%= @contract.end_date %>
