<h1>Visualização de Contrato</h1>

<h2>
  Cliente:
  <%= @contract.customer.name %>
</h2>

<div>
  Equipamentos:
  <% @contract.equipment.each do |e| %>
    <%= e.name %>
    <%= e.acquisition_value %>
    <%= e.serial_number %>
    <%= e.equipment_type.name %>
    <%= e.equipment_type.price.price %>
  <% end %>
</div>
<div>
 Prazo de locação:
  <%= @contract.rental_period %>
</div>
<div>
  Valor de locação:
  <%= @contract.amount %>
</div>
<div>
  Desconto:
  <%= @contract.discount %>
</div>
<div>
  Valor Final:
  <%= @contract.total_amount %>
</div>
<div>
  Endereço de entrega:
  <%= @contract.delivery_address %>
</div>
<div>
  Responsável pela obra:
  <%= @contract.contact %>
</div>
<div>
  Forma de pagamento:
  <%= @contract.payment_method %>
</div>
<div>
  Data de início:
  <%= @contract.start_date %>
</div>
<div>
  Data de emissão:
  <%= @contract.created_at.to_s %>
</div>
<div>
  Data de fim:
  <%= @contract.end_date %>
</div>
<div>
  Finalizado: <%= @contract.finished %>
</div>
<br>
<div>
<%= link_to 'Emitir Recibo de Devolução', new_contract_return_receipt_path(@contract) %>
<%= link_to 'Finalizar Contrato', finish_contract_path(@contract), method: :put %>
</div>
