
<dl>
  <dt>Nome</dt>
  <dd><h1> <%= @equipment.name %> </h1> </dd>
  <dt>Descrição</dt>
  <dd> <%= @equipment.description %> </dd>
  <dt>Número de Série</dt>
  <dd><%= @equipment.serial_number %></dd>
  <dt>Valor de Aquisição</dt>
  <dd><%= @equipment.acquisition_value %></dd>
  <dt>Data da Aquisição</dt>

  <dd><%= @equipment.acquisition_date %></dd>
  <dd><%= @equipment.shelf_life %><
  <%= @equipment.picture %>
  <%= @equipment.equipment_type %>
  <%= @equipment.manufacture %>
  <%= @equipment.vendor %>
</dl>
