<div class="container theme-showcase" role="main">

  <div class="jumbotron">
    <%= image_tag("marvelcabecalho.jpg", width: '100%') %>
  </div>

  <div align="center">
    <%= link_to 'Solicitar Orçamento', new_budget_path, class: "btn btn-lg btn-primary" %>
    <%= link_to 'Cadastrar Cliente', new_customer_path, class: "btn btn-lg btn-primary" %>
    <%= link_to 'Novo Contrato', new_contract_path, class: "btn btn-lg btn-primary" %>
    <%= link_to 'Cadastrar Equipamento', new_equipment_path, class: "btn btn-lg btn-primary" %>
    <%= link_to 'Cadastrar Preço', new_price_path, class: "btn btn-lg btn-primary" %>
  </div>

</div>
