<div class="jumbotron">
  <%= image_tag("marvelcabecalho.jpg", width: '100%') %>
</div>
<div>
  <h3><%= flash[:alert] %></h3>
</div>

<div>
  <%= link_to 'Solicitar Orçamento', new_budget_path, class: "btn btn-lg btn-primary" %>
  <% @contracts.each do |contract| %>
    <%= contract.id %>
    <%= contract.customer.name %>
    <%= contract.total_amount %>
    <%= contract.start_date %>
    <%= contract.end_date %>
  <% end %>

  <%= flash[:empty] %>
</div>

<div>
    <% @contracts_end_today.each do |contract_end| %>
      <%= contract_end.id %>
      <%= contract_end.customer.name %>
      <%= contract_end.delivery_address %>
      <%= contract_end.equipment.count %> equipamentos
    <% end %>
    <%= flash[:empty_today] %>
</div>
