<h1>Recibo de Devolução</h1>

São Paulo, <%= Time.zone.today %>

<p>Eu, <%= @return_receipt.name %>, declaro ter recebido os equipamentos
<% @return_receipt.contract.equipment.each do |equipment| %>
  <%= equipment.name %>
  <%= equipment.serial_number %>
<%end%>
 em devolução referente ao contrato <%= @return_receipt.contract.id %> em perfeitas
condições da empresa <%= @return_receipt.contract.customer.name %>
, inscrita no CNPJ <%= @return_receipt.contract.customer.document %>
 no dia <%= Time.zone.today %>.</p>


_____________________________
Assinatura do Funcionário
